@import "tailwindcss";

*{
  scroll-behavior: smooth;
}

  @theme{
    --color-viveka-back: white;
    --color-viveka-back-light: #020917;
    --color-viveka-theme:#d16458;
    --font-display:"Josefin";
    --font-oswald:"Oswald";
  } 
  @font-face {
    font-family: Josefin;
    font-style: normal;
    font-weight: 200 700;
    font-display: swap;
    src: url("./font/JosefinSans-VariableFont_wght.ttf") format("woff2");
  } 
  @font-face {
    font-family: Oswald;
    font-style: normal;
    font-weight: 200 700;
    font-display: swap;
    src: url("./font/Oswald-VariableFont_wght.ttf") format("woff2");
  } 

  *::-webkit-scrollbar {
    display: none; 
  }
  
  *{
    -ms-overflow-style: none; 
  }